## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import os
import gmaps

# Import API key
from config import g_api

# Configure gmaps API key
gmaps.configure(api_key=g_api)

In [2]:
# 1. Import the WeatherPy_database.csv file.
#city_data_df = pd.read_csv(os.path.join("..", "World_Weather_Analysis", "WeatherPy_Database.csv"))
city_data_df = pd.read_csv('../WeatherPy_Database.csv')
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
0,0,Dikson,73.5069,80.5464,-8.25,100,100,6.17,RU,overcast clouds,2022-04-22 23:10:04
1,1,Bachaquero,9.9694,-71.1494,76.77,82,100,3.69,VE,overcast clouds,2022-04-22 23:10:04
2,2,Boueni,-12.9025,45.0761,80.58,80,100,16.02,YT,light rain,2022-04-22 23:10:04
3,3,Cape Town,-33.9258,18.4232,59.34,71,0,17.00,ZA,clear sky,2022-04-22 23:10:05
4,4,Ambilobe,-13.2000,49.0500,72.64,92,91,3.78,MG,overcast clouds,2022-04-22 23:10:05

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
1,1,Bachaquero,9.9694,-71.1494,76.77,82,100,3.69,VE,overcast clouds,2022-04-22 23:10:04
2,2,Boueni,-12.9025,45.0761,80.58,80,100,16.02,YT,light rain,2022-04-22 23:10:04
4,4,Ambilobe,-13.2000,49.0500,72.64,92,91,3.78,MG,overcast clouds,2022-04-22 23:10:05
7,7,Conceicao Do Araguaia,-8.2578,-49.2647,75.97,86,100,2.13,BR,overcast clouds,2022-04-22 23:06:26
9,9,Hamilton,39.1834,-84.5333,76.84,50,40,6.91,US,scattered clouds,2022-04-22 23:10:07
15,15,Hithadhoo,-0.6000,73.0833,84.67,70,100,11.50,MV,overcast clouds,2022-04-22 23:09:14
16,16,Atar,20.5169,-13.0499,78.31,20,49,6.98,MR,scattered clouds,2022-04-22 23:10:09
17,17,Tsaratanana,-16.7833,47.6500,73.83,81,99,8.39,MG,overcast clouds,2022-04-22 23:10:10
20,20,Bosaso,11.2842,49.1816,83.62,65,39,6.53,SO,scattered clouds,2022-04-22 23:10:11
21,21,Saint-Pierre,-21.3393,55.4781,76.68,77,0,26.46,RE,clear sky,2022-04-22 23:10:11

In [5]:
# 4a. Determine if there are any empty rows.

print(len(preferred_cities_df))
preferred_cities_df.count()

282

Unnamed: 0             282
City                   282
Lat                    282
Lng                    282
Max Temp               282
Humidity               282
Cloudiness             282
Wind Speed             282
Country                282
Current Description    282
Date                   282
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

282

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
1,1,Bachaquero,9.9694,-71.1494,76.77,82,100,3.69,VE,overcast clouds,2022-04-22 23:10:04
2,2,Boueni,-12.9025,45.0761,80.58,80,100,16.02,YT,light rain,2022-04-22 23:10:04
4,4,Ambilobe,-13.2000,49.0500,72.64,92,91,3.78,MG,overcast clouds,2022-04-22 23:10:05
7,7,Conceicao Do Araguaia,-8.2578,-49.2647,75.97,86,100,2.13,BR,overcast clouds,2022-04-22 23:06:26
9,9,Hamilton,39.1834,-84.5333,76.84,50,40,6.91,US,scattered clouds,2022-04-22 23:10:07

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bachaquero,VE,76.77,overcast clouds,9.9694,-71.1494,
2,Boueni,YT,80.58,light rain,-12.9025,45.0761,
4,Ambilobe,MG,72.64,overcast clouds,-13.2000,49.0500,
7,Conceicao Do Araguaia,BR,75.97,overcast clouds,-8.2578,-49.2647,
9,Hamilton,US,76.84,scattered clouds,39.1834,-84.5333,
15,Hithadhoo,MV,84.67,overcast clouds,-0.6000,73.0833,
16,Atar,MR,78.31,scattered clouds,20.5169,-13.0499,
17,Tsaratanana,MG,73.83,overcast clouds,-16.7833,47.6500,
20,Bosaso,SO,83.62,scattered clouds,11.2842,49.1816,
21,Saint-Pierre,RE,76.68,clear sky,-21.3393,55.4781,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_api
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Bachaquero,VE,76.77,overcast clouds,9.9694,-71.1494,casa de los dinosaurios
2,Boueni,YT,80.58,light rain,-12.9025,45.0761,The feet in water
4,Ambilobe,MG,72.64,overcast clouds,-13.2000,49.0500,Hôtel & Restaurant DIANA Ambilobe
7,Conceicao Do Araguaia,BR,75.97,overcast clouds,-8.2578,-49.2647,Tarumã Tropical Hotel
9,Hamilton,US,76.84,scattered clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
15,Hithadhoo,MV,84.67,overcast clouds,-0.6000,73.0833,Scoop Guest House
16,Atar,MR,78.31,scattered clouds,20.5169,-13.0499,Oumou Elghoura
17,Tsaratanana,MG,73.83,overcast clouds,-16.7833,47.6500,
20,Bosaso,SO,83.62,scattered clouds,11.2842,49.1816,Red Sea Hotel
21,Saint-Pierre,RE,76.68,clear sky,-21.3393,55.4781,Lindsey Hôtel

In [11]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv" 

# 8b. Export the City_Data into a csv

clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
print (fig)

Figure(layout=FigureLayout(height='420px'))